@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bree Serif, sans-serif;
    background-color: rgb(17, 80, 167);
    color: ivory;
}

/* headings*/

#navbar {
    width: 100%;
    overflow: auto;
}

/* navagaiton links */

#navbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
    line-height: 80px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

#navbar a:hover {
    font-size: 160%;
}

.active {
    border-bottom: 1px solid ivory;
}

/* join button */

#join {
    width: 90%;
    line-height: 80px;
}