@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bree Serif, sans-serif;
    color: ivory;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

/* headings*/

#navbar {
    width: 100%;
    overflow: auto;
}

/* navagaiton links */

#navbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 80px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

#navbar a:hover {
    color: aqua;
}

.active {
    border-bottom: 1px solid ivory;
}

/* join button */

.join-container {
    width: 100%;
    height: 60px;
    position: relative;
}

#join {
    width: 80%;
    line-height: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

/* divider after navbar and before footer */

hr.divide {
        border-top: 2px solid ivory;
}

/* hero image and text */

.hero-image-container {
    position: relative;
    text-align: center;
    color: ivory;
    height: 480px;
    overflow: hidden;
}

.hero-image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 20px;

/* add 3d shadow text style from https://codepen.io/ryandsouza13/pen/yEBJQV */

    text-transform: uppercase;
    font-family: Bree Serif, sans-serif;
    font-size: 240px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    
}

/* gym image */

.gym-image-container {
    width: 96%;
    padding: 2% 2%;
    font-size: 2rem;
}

/* Membership page */

/* Membership rates */

.membership-table-container {
    height: 120%;
    font-size: 1.5rem;
    padding: 2.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Membership form, code from love running project */

.form-section {
    clear: left;
    background: url("https://res.cloudinary.com/datagel/image/upload/v1660234359/Evolve%20Gym/EvolveGym4_yyr0lb.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 75px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.9);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* footer style from love running project*/

footer {
    height: 160px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: ivory;
}

/* Workouts page */

/*.workouts {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}*/

.arms {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chest {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.back {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shoulders {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.core {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.legs {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Opening times */

.times {
    height: 280px;
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Location map */

.map {
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}